/* NAVIGATION */
.navigation-wrapper {
  display: flex;
  max-width: 2000px;
  width: 100%;
  height: 70px;
  justify-content: space-between;
  background-color: aqua;
  padding: 15px;
  position: relative;
}
.navigation {
  display: flex;
  max-width: 1600px;
  width: 100%;
  justify-content: space-between;
}
.logo {
  display: flex;
  max-width: 560px;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#nav-ul {
  display: flex;
  max-width: 1500px;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}
#nav-li {
  margin: 0 80px;
}
#burger {
  position: absolute;
  top: 15px;
  right: 20px;
  color: red;
  font-size: 20px;
  display: none;
}
/* form styles */
.to-do-list {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 50px auto;
}
.input-form,
.btn-add,
.clearall,
.to-do-items,
.ul-items {
  width: 100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.to-do-items {
  display: block;
}
.fa-x {
  color: red;
  font-size: 10px;
  margin: 0 5px;
}
